<h3>Welcome <%= current_user.email %></h3>

<h5><%= link_to "All items for Auction", items_path %></h5>

<h5><%= link_to "Add a new Item to sell", new_item_path %></h5>

<h4>You are autioning off the following items:</h4>
<% current_user.items.each do |item| %>
  <div>
    <h4><%= link_to item.name, item %></h4>
  </div>
  <div>
    Most recent bid: $ <%= item.bids.maximum("amount") %>
  </div>
  <div>
    Auction ends on <%= item.expiration_date %>
  </div>
<% end %>
