<h3>Welcome <%= current_user.email %></h3>

<h5><%= link_to "All items for Auction", items_path %></h5>

<h5><%= link_to "Add a new Item to sell", new_item_path %></h5>

<h4>You are autioning off the following items:</h4>
<% current_user.items.each do |item| %>
  <div>
    <h4><%= link_to item.name, item %></h4>
    Highest current bid: $ <%= item.bids.maximum("amount") %>
    Auction ends on <%= item.expiration_date %>
  </div>
<% end %>

<h4>You have bid on the following items:</h4>

<% @user_bidded_on_items.each do |item| %>
  <div>
    <%= link_to item.name, item %>
    The highest current bid on this item is $<%= item.bids.maximum("amount") %>
  </div>
<% end %>

