<div>
  <%= @item.name %>
</div>
<div>
  Description: <%= @item.description %>
</div>
<div>
  Minimum Price: $<%= @item.minimum_price %>
</div>
<div>
  <% if @item.image.present? %>
    <%= image_tag(@item.image, width: 500) %>
  <% end %>
</div>
<div>
  The auction will end on <%= @item.expiration_date %>.
</div>

<div>
  <% if @item.bids.count == 0 %>
    There are currently no bids
  <% else %>
    The current highest bid on this item is:
    $<%= @item.bids.maximum("amount")%>
  <% end %>
</div>

<% if current_user.id != @item.user_id %>
  Place a bid on this item

  <%= form_for [@item, @bid] do |form| %>
    <%= render "form_errors", target: @bid %>
    <%= form.label :amount, "Bid Amount" %>
    <%= form.text_field :amount, placeholder: "Amount" %>
    <%= form.submit "Enter Bid" %>
  <% end %>
<% end %>

